<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página no encontrada</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/public/mega-games-logo.svg"
    />
    <style>
      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url(/assets/public/fonts/motiva-sans/MotivaSansRegular.woff.ttf);
      }
      @font-face {
        font-family: "Motiva Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(/assets/public/fonts/motiva-sans/MotivaSansMedium.woff.ttf);
      }
      body {
        background-color: #131019;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
      }
      div {
        display: flex;
        min-height: 80vh;
        flex-direction: column;
        justify-content: center;
      }
      h1 {
        font-size: 50px;
        color: #fff28f;
        text-shadow: 0px 0px 15px #f8e559;
        font-weight: 600;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        font-weight: normal;
      }
      a {
        color: rgba(190, 157, 251, 0.7);
        text-decoration: none;
        background-color: rgba(190, 157, 251, 0.1);
        padding: 10px 30px;
        border: 2px solid rgba(190, 157, 251, 0.3);
        border-radius: 25px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0px 0px 10px 0px rgba(190, 157, 251, 0.3);
        transition: all 0.3s;
      }
      a:hover {
        color: #be9dfb;
        border: 2px solid rgba(190, 157, 251, 0.9);
        background-color: rgba(190, 157, 251, 0.2);
        box-shadow: 0px 0px 30px 0px rgba(190, 157, 251, 1);
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Error 404</h1>
      <p>
        ¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas.<br /><br />Verifica
        que la dirección URL sea correcta.
      </p>
      <br />
      <p><a href="/">Regresar al inicio</a></p>
    </div>
  </body>
</html>
