.page_body_ctn {
  background: radial-gradient(#13101900 0%, #131019 100%) fixed no-repeat,
    #250462;

  background-size: cover;
}

div.page_content {
  width: 940px;
  margin: 0px auto;
}

body.v6 .page_content {
  width: 950px;
  margin: 0 auto;
}

#page_content {
  position: relative;
  min-height: 450px;
}

#wizard_contents,
#error_contents {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

#error_contents {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

#error_contents {
  padding: 40px 0px 20px 0px;
}

.help_header {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.breadcrumbs {
  color: #61686d;
  font-size: 12px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  padding-top: 10px;
}

.breadcrumbs a {
  color: #8f98a0 !important;
}

#wizard_contents {
  padding: 20px 0px 110px 0px;
}

.page_loaded #wizard_contents,
.page_error #error_contents {
  opacity: 1;
  visibility: visible;
  transition: none;
  -webkit-animation: fade_in 0.3s linear;
  animation: fade_in 0.3s linear;
}

.help_header {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.breadcrumbs {
  color: #61686d;
  font-size: 12px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  padding-top: 10px;
}

.breadcrumbs a {
  color: #8f98a0 !important;
}

.help_intro_text {
  color: #be9dfb;
  font-size: 20px;
  margin: 16px 0px 20px 0px;
}

.help_wizard_button {
  display: block;
  max-width: 712px;
  box-sizing: border-box;
  margin-top: 10px;
  padding-right: 30px;
  border: solid 1px;
  border-color: #444179;
  font-size: 15px;
  color: white;
  background-color: #444179;
}

.help_wizard_button:hover,
.help_wizard_button.opened {
  background-color: #4e45b0;
  border-color: #4e45b0;
}

.help_wizard_arrow_right {
  background-image: url("/assets/public/icons/arrow_right.png");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: auto 16px;
}

.help_wizard_button > span {
  margin: 10px 14px 10px 14px;
  display: block;
  overflow: hidden;
}

.help_wizard_button_large > span {
  margin: 20px 14px 20px 14px;
}

#help_support_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5px;
  max-width: 712px;
}

.submit_message_ctn {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#help_support_form button {
  width: 100px;
  margin-top: 10px;
  padding: 6px 10px;
  font-size: 15px;
  border: none;
  background-color: #444179;
}

#help_support_form button:hover {
  background-color: #4e45b0;
}

input:focus-visible,
input:valid,
textarea:focus-visible,
textarea:valid {
  outline: 0;
}

#help_support_form :nth-child(3) {
  height: 34px;
}

#help_support_form :nth-child(4) {
  border-bottom: 2px solid #444179;
}

.help_support_input {
  height: 144px;
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  color: #c6d4df;
  padding: 6px 10px;
  background-color: #413993;
  box-sizing: border-box;
  border: 2px solid #444179;
  border-bottom: none;
  background: #34325d;
  resize: none;
}

.submit_message {
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  transition: visibility 0.2s, opacity 0.2s;
}

.submit_message.show {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 910px) {
  body.v6 .page_content {
    width: auto;
    padding: 0 2%;
    max-width: 950px;
  }

  .help_support_input {
    max-width: 712px;
    width: 100%;
  }
}
