body.v6 {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif !important;
  font-size: 13px;
}

body.hidden_body {
  overflow-y: hidden;
  height: 100vh;
}

.sale_background {
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.background {
  position: absolute;
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
    radial-gradient(
      15.77% 44.22% at 50% 104.95%,
      rgba(66, 66, 66, 0) 0%,
      #333333 100%
    ),
    radial-gradient(
      30.95% 86.8% at 30.69% 13.2%,
      rgba(66, 66, 66, 0.33) 0%,
      #333333 100%
    ),
    radial-gradient(
      51.31% 143.89% at 49.99% 24.75%,
      #000000 0%,
      #000000 52.6%,
      rgba(0, 0, 0, 0.18) 83.33%,
      rgba(0, 0, 0, 0) 95.31%
    ),
    radial-gradient(
      51.31% 143.89% at 49.99% 24.75%,
      #000000 0%,
      #000000 52.6%,
      rgba(0, 0, 0, 0.18) 83.33%,
      rgba(0, 0, 0, 0) 95.31%
    ),
    linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
  mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
    radial-gradient(
      15.77% 44.22% at 50% 104.95%,
      rgba(66, 66, 66, 0) 0%,
      #333333 100%
    ),
    radial-gradient(
      30.95% 86.8% at 30.69% 13.2%,
      rgba(66, 66, 66, 0.33) 0%,
      #333333 100%
    ),
    radial-gradient(
      51.31% 143.89% at 49.99% 24.75%,
      #000000 0%,
      #000000 52.6%,
      rgba(0, 0, 0, 0.18) 83.33%,
      rgba(0, 0, 0, 0) 95.31%
    ),
    radial-gradient(
      51.31% 143.89% at 49.99% 24.75%,
      #000000 0%,
      #000000 52.6%,
      rgba(0, 0, 0, 0.18) 83.33%,
      rgba(0, 0, 0, 0) 95.31%
    ),
    linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-composite: source-in;
  mask-composite: source-in;
  transition: background-image 0.1s ease-out;
}

.sale_outer_container {
  display: flex;
  flex-direction: column;
}

.sale_page_logo_ctn {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 67px;
}

.sale_page_logo_ctn img {
  width: 100%;
  display: block;
}

.presenter_disclaimer {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.65);
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
  padding: 4px 32px;
  width: fit-content;
  max-width: 940px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  text-shadow: 1px 1px 3px #000;
  z-index: 2;
  cursor: default;
}

.presenter_disclaimer a {
  color: #fff;
  font-weight: bold;
}

.sale_section_tab_list_container {
  position: relative;
}

.curator_content {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  min-height: 127px;
  margin-bottom: 16px;
}

.curator_content .curator_box {
  background-image: radial-gradient(
    ellipse at top left,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4)
  );
  box-shadow: unset;
}

.curator_box {
  flex-grow: 1;
  flex-basis: 0;
  background: radial-gradient(
    ellipse at top left,
    rgba(66, 69, 76, 0.8),
    rgba(37, 40, 46, 0.8)
  );
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.curator_content .curator_box .curator {
  opacity: 0;
}

.curator {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: radial-gradient(
    circle at top left,
    black,
    rgba(0, 0, 0, 0) 60%
  );
  mask-image: radial-gradient(circle at top left, black, rgba(0, 0, 0, 0) 60%);
  filter: blur(30px);
  opacity: 0.3;
}

.curator_box_2 {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
}

.curator_2 {
  display: flex;
  flex-direction: row;
}

.curator_2 > div:not(:first-child) {
  margin-left: 8px;
}

.curator_2 img {
  max-width: 94px;
  box-shadow: 0 0 8px #fff;
  border-radius: 5px;
  border: none;
}

.curator_content .curator_body {
  justify-content: center;
  margin-left: 16px;
  width: 100%;
}

.curator_body {
  display: flex;
  flex-direction: column;
}

.curator_top {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 4px;
}

.curator_top > a {
  padding-bottom: 2px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 300;
}

.curator_top > div {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 2px;
  color: #c3c3c3;
  font-size: 12px;
}

.curator_bottom_ctn {
  display: flex;
  flex-direction: row;
}

.curator_bottom {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 4px;
  height: fit-content;
}

.follow_btn_curator {
  background-color: #54a5d4;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: #dfe3e6;
  transition-property: background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: #3d4450;
  padding: 6px 25px 6px 25px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  text-decoration: none;
}

.follow_btn_curator:hover {
  background: #464d58;
  color: #fff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.follow_btn_curator div {
  font-size: 12px;
}

.followers_curator {
  display: block;
  padding: 0px 6px;
  font-size: 11px;
  line-height: 11px;
}

.followers_curator span {
  font-size: 15px;
  line-height: 16px;
  color: #c6d4df;
}

.sale_section_content {
  padding: 16px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.sale_section_label_ctn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sale_section_label {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.label_header_ctn {
  margin-bottom: 10px;
}

.label_header {
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.sale_section_label .label_header_separator {
  margin-left: auto;
  display: flex;
}

.sale_section_grid_ctn {
  display: grid;
  grid-gap: 16px;
  padding-bottom: 14px;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
}

.sale_section_card {
  position: relative;
}

.sale_section_card_ctn {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.2s ease-out;
  cursor: pointer;
}

.sale_section_card_ctn:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.capsule_decorators {
  position: absolute;
  left: 0px;
  top: 14px;
  display: grid;
  row-gap: 5px;
}

.hero_capsule_image_ctn {
  display: flex;
  padding: 119.7860962567% 0 0 0;
  overflow: hidden;
  position: relative;
  background: #000;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.hero_capsule_image_ctn .hero_image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  transition: 0.4s;
}

.sale_section_card:hover .hero_capsule_image_ctn .hero_image {
  scale: 1.05;
}

.hero_capsule_image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%;
  filter: blur(16px);
  transition: 0.4s;
}

.sale_section_card:hover .hero_capsule_image {
  scale: 1.05;
}

.hero_capsule_image_ctn .hero_image_diff {
  margin: 0 auto;
  max-height: 100%;
  width: auto;
  box-sizing: content-box;
  transition: 0.4s;
}

.sale_section_card:hover .hero_capsule_image_ctn .hero_image_diff {
  scale: 1.05;
}

.hero_image_diff {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.capsule_bottom_bar {
  background-color: #000;
  display: flex;
  align-items: center;
  color: #fff;
  height: 38px;
  box-sizing: border-box;
  z-index: 2;
  cursor: pointer;
  font-size: 14px;
  container-type: inline-size;
}

.platform_label {
  height: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.capsule_bottom_bar .platform_label {
  padding: 4px 4px 4px 8px;
  height: 16px;
  display: flex;
  flex-direction: row;
  flex: none;
  box-sizing: content-box;
}

.capsule_bottom_bar .price_ctn {
  margin-left: auto;
  display: flex;
}

.disconunt_label {
  margin: 0;
  display: flex;
  align-items: center;
  background: #3b3486;
  padding: 0px;
  height: 38px;
}

.discount {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  padding: 4px 8px;
  height: 100%;
  box-sizing: border-box;
  color: #f9ea76;
  display: flex;
  align-items: center;
  background: #9d8b07;
  word-break: keep-all;
}

.price_label {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 8px;
  padding-left: 8px;
}

.original_price {
  color: rgb(255 255 255 / 60%);
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 11px;
  margin-top: 2px;
  position: relative;
}

.original_price::before {
  content: "";
  left: 0px;
  right: 0px;
  position: absolute;
  top: 40%;
  border-bottom: 1px solid rgb(255 255 255 / 60%);
  box-shadow: 0 0 2px #000;
  transform: skewY(-15deg);
}

.final_price {
  padding: 0px;
  line-height: 16px;
  font-size: 15px;
  color: #f8e559;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@container (max-width: 225px) {
  .capsule_bottom_bar .discount {
    font-size: 1.2em;
  }
}

.panel_card_ctn {
  flex-grow: 2;
  flex-basis: 0;
  padding: 8px;
}

.panel_card_grid {
  background: -webkit-linear-gradient(top, #3b3b3b 5%, #171717 95%);
  background: linear-gradient(to bottom, #3b3b3b 5%, #171717 95%);

  display: grid;
  grid-template-columns: 25% auto 25% 25%;
  grid-template-rows: auto auto;
  grid-template-areas: "left left right right";
  border-top-right-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.panel_card_grid .grid_panel_left_area {
  grid-area: left;
}

.grid_panel_left_area {
  padding: 0px;
}

.panel_card_grid .grid_panel_right_area {
  grid-area: right;
}

.grid_panel_right_area {
  position: relative;
  padding: 8px 12px 12px 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.grid_panel_right_area > div {
  z-index: 1;
}

.capsule_image_ctn {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 46.7391304348% 0 0 0;
}

.panel_card_grid .capsule_image_ctn img,
.sale_section_card .capsule_image_ctn img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  transition: 0.4s;
}

.panel_card_grid .capsule_image_ctn img:hover,
.sale_section_card .capsule_image_ctn img:hover {
  scale: 1.05;
}

.grid_panel_right_area .grid_panel_title_ctn {
  display: flex;
  justify-content: space-between;
}

.grid_panel_right_area .grid_panel_title_ctn div {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  width: fit-content;
  color: #e5e5e5;
  flex-shrink: 0;
  margin-top: 2px;
  text-align: left;
}

.grid_panel_subtitle_ctn {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
}

.grid_panel_subtitle_game_type {
  height: 22px;
  overflow: hidden;
  margin-top: 4px;
  text-align: left;
}

.grid_panel_subtitle_game_type > a {
  display: inline-block;
  line-height: 19px;
  padding: 0 7px;
  color: rgb(255 255 255 / 60%) !important;
  background-color: rgba(112, 129, 137, 0.15);
  box-shadow: none;
  margin-right: 2px;
  border-radius: 2px;
  margin-bottom: 3px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  cursor: default;
}

.grid_panel_subtitle_game_type > a:hover {
  text-decoration: none;
  color: rgb(248, 229, 89, 0.75) !important;
}

.grid_panel_subtitle_date {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: end;
  align-items: center;
  flex-shrink: 0;
}

.game_date {
  font-size: 12px;
  line-height: 15px;
  color: rgb(255 255 255 / 60%);
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-right: 10px;
  flex-shrink: 0;
}

.grid_panel_description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  padding: 6px 0px 0px 0px;
  text-align: left;
  font-size: 13px;
  color: rgb(255 255 255 / 60%);
  font-weight: 200;
  line-height: 17px;
}

.grid_panel_btn_ctn {
  position: absolute;
  right: 7px;
  bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: flex-end;
  min-height: 44px;
  font-size: 14px;
}

.grid_panel_btn_ctn .grid_panel_btn {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0;
}

.cart_btn {
  background-image: radial-gradient(
    circle at top left,
    #9d8b07 10%,
    #766805 80%
  );
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: auto;
  min-width: unset;
  padding: 9px 20px;
  transition: background, color, box-shadow 0.2s ease-out;
  height: 38px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
}

.cart_btn:hover {
  background-image: radial-gradient(
    circle at top left,
    #d7bf09 0%,
    #766805 120%
  );
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.grid_panel_right_area .grid_additional_image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  top: 0px;
}

.grid_panel_right_area .grid_additional_image > div {
  height: 100%;
}

.grid_panel_right_area .grid_additional_image img {
  width: 150%;
  height: 150%;
  opacity: 0.3;
  filter: blur(60px);
}

.share_with_friends {
  margin: 0 auto;
  font-size: 24px;
  padding: 8px;
  color: #fff;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}

.social_share_button {
  margin: 0 auto;
  width: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: #dfe3e6;
  transition-property: background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: #36058a;
  padding: 6px 3rem 6px 3rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  text-decoration: none;
}

.social_share_button:hover {
  background: #3b069d;
  color: #fff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.social_share_icon {
  width: 19px;
  height: 19px;
  margin-right: 12px;
  margin-top: 1px;
  margin-left: -10px;
  fill: rgba(255, 255, 255, 0.66);
}

.social_share_text {
  line-height: 22px;
  font-size: 12px;
}

.footer_spacer {
  height: 75px;
}

@media screen and (max-width: 576px) {
  .home_sale_ctn {
    padding: 0px 10px;
  }

  .panel_card_grid {
    grid-template-areas:
      "left left left left"
      "right right right right";
  }

  .grid_panel_subtitle_game_type {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .sale_section_content {
    padding: 16px 4px;
  }

  .game_date {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .curator_2 img {
    width: 15vw;
  }

  .grid_panel_description {
    display: none;
  }

  .grid_panel_btn_ctn {
    position: relative;
  }

  .sale_section_card .price_ctn {
    max-width: 100%;
  }

  .sale_section_card .disconunt_label {
    width: 100%;
    justify-content: flex-end;
  }

  .disconunt_label {
    margin-right: 0;
  }

  .capsule_bottom_bar .platform_label {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .sale_background {
    background-size: var(--background-scale, 166%);
  }
}

.full_modal_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1500;
}

.modal_overlay_background {
  background: rgba(0, 0, 0, 0.8);
  z-index: 7;
}

.modal_overlay_content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal_overlay_content.active {
  z-index: 10;
}

.modal_position {
  display: flex;
  align-content: center;
  height: 100%;
  flex-direction: column;
}

.full_modal_overlay .modal_position_content {
  height: initial;
  width: initial;
  max-width: 88vw;
  max-height: 90vh;
}

@media screen and (max-width: 640px) {
  .full_modal_overlay .modal_position_content {
    max-height: 95vh;
  }
}

.modal_position_content {
  box-shadow: 0px 8px 38px 5px rgba(0, 0, 0, 0.75);
  margin: auto;
  font-weight: 300;
  color: #969696;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal_position_content > * {
  min-height: 0;
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.modal_position_top_bar {
  min-height: 1px;
  min-width: initial;
  flex-grow: initial;
  flex-shrink: initial;
  background: linear-gradient(to right, #cbb0fc 0%, #6f26f7 60%);
}

div.modal_position_dismiss {
  min-width: initial;
  min-height: initial;
  flex-grow: initial;
  flex-shrink: initial;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 1;
  box-sizing: content-box;
}

.modal_position_dismiss .close_button {
  width: 14px;
  height: 14px;
  padding: 4px;
  background-size: cover;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  box-sizing: content-box;
}

.close_button svg {
  fill: #fff;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  box-sizing: content-box;
}

.modal_position_dismiss .close_button line {
  stroke: #788a92;
  stroke-width: 24px;
}

.dialog_center_vertically {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialog_content {
  padding: 24px;
  display: flex;
  overflow: visible;
  position: relative;
}

.dialog_content,
.dialog_content_transition {
  background: radial-gradient(
      circle at top left,
      rgba(74, 81, 92, 0.4) 0%,
      rgba(75, 81, 92, 0) 60%
    ),
    #25282e;
  user-select: none;
}

.dialog_content_inner_width {
  max-width: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dialog_content_inner_width > form {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
}

.dialog_header {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  flex-shrink: 0;
  user-select: none;
  margin-right: 26px;
  margin-bottom: 4px;
}

.dialog_body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  -webkit-app-region: no-drag;
}

.dialog_body a {
  color: #6dcff6;
  text-decoration: none;
}

.event_display_share_dialog .dialog_body_text {
  margin-bottom: 10px;
}

.dialog_body_text {
  color: #969696;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  margin-bottom: 32px;
  user-select: none;
}

.dialog_label_content {
  display: flex;
  flex-direction: column;
  background-color: rgba(59, 63, 72, 0.5);
  border-radius: 3px;
  padding: 10px;
  text-align: left;
  margin-top: 16px;
}

.dialog_label {
  display: flex;
  justify-content: flex-start;
  padding: 16px 8px;
  align-items: center;
}

.dialog_label select {
  font-size: 13px;
}

.dialog_label .d_label {
  padding: 0px 8px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}

.d_label {
  font-weight: 300;
  color: #969696;
  text-transform: uppercase;
  line-height: 19px;
  font-size: 13px;
  margin-bottom: 4px;
  user-select: none;
  letter-spacing: initial;
}

.share_section_ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.share_button > img {
  height: 33px;
  padding-bottom: 8px;
  vertical-align: bottom;
}

.share_icon {
  color: #dfe3e6;
  transition-property: background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: #3d4450;
  padding: 6px 50px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  text-decoration: none;
  box-sizing: content-box;
}

.share_icon:hover {
  background: #464d58;
  color: #fff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.separator {
  background-color: #161616;
  border-bottom: 1px solid #4c4c4c;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.share_link_ctn {
  display: flex;
  flex-direction: row;
  font-size: 13.3333px;
  align-items: center;
  margin-top: 10px;
}

.share_section_ctn > div:not(:first-child) {
  margin-left: 8px;
}

.share_link_ctn span {
  font-size: 12px;
  padding-right: 10px;
  padding-left: 2px;
}

.share_link {
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE 10+ */
  user-select: none !important; /* Standard syntax */
  flex-grow: 10;
  width: 485px;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #909090;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  border-radius: 3px;
  outline: none;
  font-family: "Motiva Sans", Sans-serif;
  resize: none;
  line-height: 14px;
  padding: 8px;
  box-sizing: border-box;
}

.share_link_button_ctn.share_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #dfe3e6;
  transition-property: background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: #3d4450;
  padding: 6px 25px 6px 25px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.share_link_button_ctn.share_icon:hover {
  background: #464d58;
  color: #fff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.share_link_button_ctn img {
  height: 18px;
  margin-top: 0px;
}

.void_div {
  text-align: center;
  min-height: 30px;
  padding-top: 10px;
}

.dialog_footer {
  margin-top: auto;
  padding-top: 16px;
  flex-shrink: 0;
}

button.dialog_button.Primary {
  background: transparent;
  background: linear-gradient(
    to right,
    rgba(190, 157, 251, 1) 0%,
    rgba(88, 9, 236, 1) 60%
  );
  background-position: 25%;
  background-size: 330% 100%;
}

button.dialog_button.Primary:hover {
  background: linear-gradient(
    to right,
    rgba(190, 157, 251, 1) 0%,
    rgba(88, 9, 236, 1) 60%
  );
  background-position: 0%;
  background-size: 330% 100%;
  color: #fff;
}

button.dialog_button::before {
  pointer-events: none;
  user-select: none;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.generic_confirm_dialog .dialog_button {
  min-width: 120px;
}

button.dialog_button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0;
  font: inherit;
  overflow: visible;
  padding: 0;
  margin: 2px 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  line-height: 32px;
  color: #dfe3e6;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  transition-property: opacity, background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: #3d4450;
  background-position: 99% 1%;
  background-size: 300% 300%;
  position: relative;
}

@media screen and (max-width: 700px) {
  .dialog_label {
    flex-direction: column;
  }

  .dialog_label_content {
    margin-top: 2px;
    padding: 0px;
    background: none;
  }

  .share_link {
    min-width: 250px;
    min-height: 80px;
  }

  .share_link_ctn span {
    display: none;
  }

  .share_link_button_ctn {
    display: none !important;
  }

  .share_section_ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .share_button img {
    height: 30px;
    padding: 5px 25px;
  }
}
