@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  background-color: #271f32 !important;
  color: white !important;
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(250 128 114 / 70%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:active {
    background: rgb(250 128 114);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: transparent;
      scrollbar-width: thin;
    }
  }
}

.shadow-strong {
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.75);
}

.form-control-sm::placeholder {
  font-style: italic;
}

#newsletter1::placeholder {
  color: rgb(255 255 255 / 50%);
}

.focus-none:focus {
  outline: none !important;
  box-shadow: none !important;
}

.active-none:active {
  border: none !important;
}

.grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card-flow {
  transition: 150ms ease-in-out;
}

.card-flow:hover {
  box-shadow: 0px 0px 5px 0px rgba(248, 229, 89);
  scale: 1.02;
}

.card-shadow {
  transition: 150ms ease-in-out;
}

.card-shadow:hover {
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  scale: 1.05;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-p0 {
  background-color: rgb(69 55 88 / 70%) !important;
}
.nav-p1 {
  background-color: rgb(59 52 134 / 70%) !important;
}
.nav-p2 {
  background-color: rgb(134 106 249 / 70%) !important;
}
.nav-p3 {
  background-color: rgb(249 234 118 / 70%) !important;
}

.border-w {
  border: 1px solid #fff !important;
}

.border-p1 {
  border: 1px solid #3b3486 !important;
}

.border-p2 {
  border: 1px solid #864af9 !important;
}

.border-p3 {
  border: 1px solid #f9ea76 !important;
}

.blur {
  backdrop-filter: blur(8px);
}

.text-p0 {
  color: #453758 !important;
}

.text-p1 {
  color: #3b3486 !important;
}

.text-p2 {
  color: #864af9 !important;
}

.text-p3 {
  color: #f8e559 !important;
}

.text-hover-p0:hover {
  color: #453758 !important;
}

.text-hover-p1:hover {
  color: #3b3486 !important;
}

.text-hover-p2:hover {
  color: #864af9 !important;
}

.text-hover-p3:hover {
  color: #f8e559 !important;
}

.btn-p0 {
  background-color: #453758 !important;
}

.btn-p1 {
  background-color: #3b3486 !important;
}

.btn-p2 {
  background-color: #864af9 !important;
}

.btn-p3 {
  background-color: #f8e559 !important;
}

.btn-hover-p0:hover {
  background-color: #4f3f64 !important;
}

.btn-hover-p1:hover {
  background-color: #594771 !important;
}

.btn-hover-p2:hover {
  background-color: #9661fa !important;
}

.btn-hover-p3:hover {
  background-color: #f9ea76 !important;
}

.btn-focus-p0:focus {
  background-color: #4f3f64 !important;
}

.btn-focus-p2:focus {
  background-color: #9661fa !important;
}

.btn-focus-p3:focus {
  background-color: #f9ea76 !important;
}

.bg-p0 {
  background-color: #453758 !important;
}

.bg-p05 {
  background-color: #4f3f64 !important;
}

.bg-p1 {
  background-color: #3b3486 !important;
}

.bg-p2 {
  background-color: #864af9 !important;
}

.bg-p3 {
  background-color: #f9ea76 !important;
}

.bg-p4 {
  background-color: #332941 !important;
}

.gradient-p0 {
  background: rgb(51, 41, 65);
  background: linear-gradient(
    0deg,
    rgba(51, 41, 65, 1) 0%,
    rgba(39, 31, 50, 1) 100%
  );
}

.size-img-carrusel {
  height: 353px;
  object-fit: cover;
}

.size-img-card {
  position: relative;
  width: 100%;
  max-height: 330px;
  margin-bottom: -60px;
  object-fit: cover;
  overflow: hidden;
}

.page_background_holder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center top;
}

.card-size {
  min-width: 235px;
  min-height: 390px;
  max-height: 390px;
}

.fs-xs {
  font-size: 12px !important;
}

.fs-sm {
  font-size: 14px !important;
}

.card-body h6,
.card-body h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 3em;
  font-size: 14px;
}

.descuento-precio {
  position: relative;
  width: fit-content;
  color: rgb(255 255 255 / 60%);
  font-weight: 400;
  font-size: 14px;
}

.descuento-precio:before {
  content: "";
  left: 0px;
  right: 0px;
  position: absolute;
  top: 43%;
  border-bottom: 1.5px solid rgb(255 255 255 / 60%);
  transform: skewY(-8deg);
  box-shadow: 0 0 2px black;
}

.descuento_label {
  font-family: "Motiva Sans", Sans-serif;
  color: #f9ea76;
  background: #9d8b07;
  font-size: 14px;
}

.neon-animation {
  animation: neon 10s ease-in-out 0s infinite normal both;
}

@keyframes neon {
  0%,
  50%,
  100% {
    box-shadow: 0px 0px 20px 2px rgba(248 229 89 / 100%);
    text-shadow: 0px 0px 10px rgba(248 229 89 / 100%);
    background: rgb(255, 254, 248, 0);
  }

  25%,
  75% {
    box-shadow: 0px 0px 20px 2px rgba(248 229 89 / 40%);
    text-shadow: 0px 0px 10px rgba(248 229 89 / 40%);
  }
}

@media screen and (min-width: 576px) {
  .carousel-cards .carousel-inner {
    display: flex;
  }

  .carousel-cards .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}

@media screen and (min-width: 992px) {
  .carousel-cards .carousel-inner {
    display: flex;
  }

  .carousel-cards .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 5);
  }
}

.carousel-cards .card {
  margin: 0 0.5em;
}

@media screen and (min-width: 576px) {
  .prev-control.carousel-control-prev {
    width: 3rem;
    height: 8rem;
    background: rgb(51, 41, 65);
    background: linear-gradient(
      90deg,
      rgba(51, 41, 65, 1) 0%,
      rgba(88, 79, 186, 0.9) 100%
    );
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    margin-left: -3.03rem !important;
  }

  .next-control.carousel-control-next {
    width: 3rem;
    height: 8rem;
    background: rgb(88, 79, 186);
    background: linear-gradient(
      90deg,
      rgba(88, 79, 186, 0.9) 0%,
      rgba(51, 41, 65, 1) 100%
    );
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    margin-right: -3.03rem !important;
  }

  .prev-control.carousel-control-prev:hover,
  .next-control.carousel-control-next:hover {
    opacity: 0.7;
  }
}

.z-index-10 {
  z-index: 9999;
}

@media screen and (min-width: 576px) {
  .buttons {
    transform: translateY(-50%);
    top: 50%;
    padding-right: 98.1%;
  }
}

.social-hover {
  transition: 150ms ease-in-out;
}

.social-hover:hover {
  color: #f8e559 !important;
  opacity: 1 !important;
}

.footer-links-hover {
  transition: all 150ms ease-in-out;
}

.footer-links-hover:hover {
  color: #f8e559 !important;
  opacity: 1 !important;
  text-decoration: underline !important;
}

.app-badge img {
  height: 40px;
}

.fst-nav a {
  padding: 10px 20px !important;
  transition: none !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.fst-nav a:hover {
  background: rgb(116, 108, 198);
  background: linear-gradient(
    90deg,
    rgba(116, 108, 198, 1) 0%,
    rgba(59, 52, 134, 0) 100%
  );
}

.nav-bg {
  background: rgb(88, 79, 186);
  background: linear-gradient(
    90deg,
    rgba(88, 79, 186, 0.9) 0%,
    rgba(59, 52, 134, 0.9) 100%
  );
}
