@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  background-color: #271f32 !important;
  color: white !important;
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(250 128 114 / 70%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:active {
    background: rgb(250 128 114);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: transparent;
      scrollbar-width: thin;
    }
  }
}

.shadow-strong {
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.75);
}

.form-control-sm::placeholder {
  font-style: italic;
}

.focus-none:focus {
  outline: none !important;
}

.active-none:active {
  border: none;
}

.grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card-flow {
  transition: 150ms ease-in-out;
}

.card-flow:hover {
  box-shadow: 0px 1px 30px 0px rgba(248, 229, 89);
  scale: 1.05;
}

.card-shadow {
  transition: 150ms ease-in-out;
}

.card-shadow:hover {
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  scale: 1.05;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-p0 {
  background-color: rgb(69 55 88 / 70%) !important;
}
.nav-p1 {
  background-color: rgb(59 52 134 / 70%) !important;
}
.nav-p2 {
  background-color: rgb(134 106 249 / 70%) !important;
}
.nav-p3 {
  background-color: rgb(249 234 118 / 70%) !important;
}

.border-p1 {
  border: 1px solid #3b3486 !important;
}

.border-p2 {
  border: 1px solid #864af9 !important;
}

.border-p3 {
  border: 1px solid #f9ea76 !important;
}

.blur {
  backdrop-filter: blur(8px);
}

.text-p0 {
  color: #453758 !important;
}

.text-p1 {
  color: #3b3486 !important;
}

.text-p2 {
  color: #864af9 !important;
}

.text-p3 {
  color: #f8e559 !important;
}

.btn-p0 {
  background-color: #453758 !important;
}

.btn-p1 {
  background-color: #3b3486 !important;
}

.btn-p2 {
  background-color: #864af9 !important;
}

.btn-p3 {
  background-color: #f8e559 !important;
}

.btn-hover-p0:hover {
  background-color: #4f3f64 !important;
}

.btn-hover-p2:hover {
  background-color: #9661fa !important;
}

.btn-hover-p3:hover {
  background-color: #f9ea76 !important;
}

.btn-focus-p0:focus {
  background-color: #4f3f64 !important;
}

.btn-focus-p2:focus {
  background-color: #9661fa !important;
}

.btn-focus-p3:focus {
  background-color: #f9ea76 !important;
}

.bg-p0 {
  background-color: #453758 !important;
}

.bg-p05 {
  background-color: #4f3f64 !important;
}

.bg-p1 {
  background-color: #3b3486 !important;
}

.bg-p2 {
  background-color: #864af9 !important;
}

.bg-p3 {
  background-color: #f9ea76 !important;
}

.bg-p4 {
  background-color: #332941 !important;
}

.size-img-carrusel {
  height: 353px;
  object-fit: cover;
}

.size-img-card {
  position: relative;
  width: 100%;
  max-height: 330px;
  margin-bottom: -60px;
  object-fit: cover;
  overflow: hidden;
}

.page_background_holder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center top;
}

.card-size {
  min-width: 235px;
  min-height: 390px;
  max-height: 390px;
}

.descuento-precio {
  position: relative;
  width: fit-content;
  color: rgb(255 255 255 / 60%);
  font-weight: 400;
  font-size: 14px;
}

.fs-sm {
  font-size: 14px;
}

.card-body h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 3em;
  font-size: 14px;
}

.descuento-precio:before {
  content: "";
  left: 0px;
  right: 0px;
  position: absolute;
  top: 43%;
  border-bottom: 1.5px solid rgb(255 255 255 / 60%);
  transform: skewY(-8deg);
  box-shadow: 0 0 2px black;
}

.descuento_label {
  font-family: "Motiva Sans", Sans-serif;
  color: #f9ea76;
  background: #9d8b07;
}
