body.login .page_content {
  background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181a21 100%) fixed
      no-repeat,
    url("/assets/public/login_bg.jpg") center top no-repeat, #181a21;
}

div.page_content {
  width: 940px;
  margin: 0px auto;
}

body .page_content {
  width: 960px;
  margin: 0 auto;
}

body.login .page_content {
  padding: 0px 8px;
  width: 100%;
}

.login_page_content {
  padding-top: 80px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.login_form_ctn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_form_title {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
}

.login .form_area {
  background-color: #131019;
  border-radius: 4px;
  padding: 24px 32px;
  flex: 1;
  min-width: 636px;
}

.form_ctn {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 10px;
}

.form {
  flex: 1;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
}

.input_area {
  display: grid;
  grid-template-areas:
    "label hint"
    "input input";
  grid-template-columns: 1fr min-content;
  gap: 2px;
}

.login_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_btn button {
  width: 270px;
}

body.login .divider {
  color: #c15755;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.help_cant_login {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.input_area:first-child > label {
  color: #be9dfb;
  font-weight: 600;
}

.input_area > label {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  user-select: none;
}

.input_area > input {
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  background-color: #3c3743;
  outline: none;
  font-size: 15px;
  grid-area: input;
  border: 1px solid #3c3743;
  line-height: normal !important;
}

.input_area > input:hover {
  background-color: #46404f;
}

.remeberme_ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.check_area {
  width: 14px;
  height: 14px;
  padding: 3px;
  border-radius: 2px;
  background-color: #3c3743;
  cursor: pointer;
}

.check_area:hover {
  background-color: #46404f;
}

.check {
  width: 100%;
  height: 100%;
  display: flex;
}

.remeberme {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  user-select: none;
  padding-left: 6px;
}

.SVGIcon_Button {
  fill: #fff;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
}

.send_form {
  position: relative;
  background: transparent;
  background: linear-gradient(
    to right,
    rgba(190, 157, 251, 1) 20%,
    rgba(88, 9, 236, 1) 100%
  );
  background-position: right 0;
  background-size: 200%;
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition-property: opacity, background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.send_form:hover {
  background-position: 0%;
  background-size: 200%;
}

.send_form:active {
  background-position: 40%;
  transition-duration: 0.04s;
}

.login_bottom_row {
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  padding-bottom: 48px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  justify-content: center;
  background-color: #131019;
}

.login_btn_ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_bottom_row_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.login .headline {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.login_btn_ctn a {
  margin: 10px 0 10px 0;
  display: block;
  text-align: center;
}

.login_create_btn {
  padding: 3px 20px;
  color: white;
  text-shadow: none;
}

.login_create_btn > span {
  padding: 0 20px;
}

.btn_medium > span {
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
}

.btn_megames {
  border-radius: 2px;
  border: none;
  padding: 1px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  color: #fff;
  background: transparent;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.btn_megames > span {
  border-radius: 2px;
  display: block;
  background: transparent;
  background: linear-gradient(
    to right,
    rgba(190, 157, 251, 1) 20%,
    rgba(88, 9, 236, 1) 100%
  );
  background-position: right 0;
  background-size: 200%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition-property: opacity, background, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.btn_megames > span:hover {
  background-position: 0%;
  background-size: 200%;
}

.btn_megames > span:active {
  background-position: 40%;
  transition-duration: 0.04s;
}

.login .subtext {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.login .login_join_desc {
  max-width: 60%;
  text-align: center;
  font-size: 14px;
}

.about_link {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6) !important;
  text-decoration: underline !important;
}

.about_link:hover {
  color: white !important;
  text-decoration: none !important;
}

@media screen and (max-width: 910px) {
  .page_content {
    max-width: 960px;
    padding: 0px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  body.login .page_content {
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181a21 100%) fixed
        no-repeat,
      url("/assets/public/login_mobile_bg.jpg") center top no-repeat, #181a21;
  }

  .login_page_content {
    padding-top: 12px;
    padding-bottom: 0px;
  }

  .login_form_title {
    text-align: center;
  }

  .login .form_area {
    min-width: 0px;
    background-color: transparent;
  }

  .form_ctn,
  .login_bottom_row {
    flex-direction: column;
  }

  .login_btn_ctn {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

body.join {
  min-height: 100%;
  height: auto;
  position: relative;
}

.bg_join_page {
  position: absolute;
  inset: 0;
  background: radial-gradient(
        30% 40% at 40% 30%,
        rgba(33, 36, 41, 0.5) 0%,
        rgba(33, 36, 41, 0) 100%
      )
      no-repeat,
    url("/assets/public/join_bg.jpg") -45vw 0 no-repeat, #212429;
  z-index: -1;
}

@media screen and (min-width: 1600px) {
  .bg_join_page {
    background-position: -20vw 0;
  }
}

.join_content_container {
  padding: 50px;
  min-height: 600px;
  max-width: 700px;
}

.join_form {
  padding: 20px 16px;
  position: relative;
}

.join .section_title {
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

.join .row_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.join .form_row {
  margin: 25px 0;
}

.join .form_area {
  float: left;
  width: 212px;
}

.join .form_area {
  width: 292px;
  min-width: 292px;
  float: none;
}

.join_form input[type="text"],
.join_form input[type="password"] {
  height: 34px;
}

.join label {
  font-size: 14px;
  color: #b8b6b4;
  vertical-align: top;
}

#create_account input,
#create_account select {
  background: #3c3743;
  border-radius: 3px;
  color: #e9e9e9;
  padding: 8px 6px;
  display: block;
  box-shadow: none;
  border: none;
  width: 100%;
  transition: border ease-in-out 0.5s;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}

#label_agree {
  margin-left: 4px;
}

#create_account input[type="checkbox"] {
  display: inline;
  width: 18px;
  height: 18px;
  background: #3c3743;
}

.join #priv_and_sub {
  margin-top: 35px;
}

.join_content_container button > span,
.join_button > span {
  padding: 3px 50px;
}

#label_agree a:hover {
  color: #be9dfb !important;
}

#error_display {
  display: block;
  border: 2px solid #b44040;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

#error_display.hidden {
  display: none;
}

#create_account input.error,
#login input.error {
  border: 1px solid rgb(180, 64, 64);
}

#error_msg {
  color: #c15755;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

#error_msg.hidden {
  display: none;
}
